<section class="new"><input type="checkbox" class="contact-popup-checkbox" id="contact-form-popup-checkbox">
    <div class="contact dots-bg" id="contactUs">
        <div class="container">
            <div class="contact-partners">
                <h3 class="contact-partners__title h3">I don’t have clients</h3>
                <span class="h3 contact-partners__caption">I have partners</span>
                <a class="contact-partners__btn button" routerLink="/contact" for="contact-form-popup-checkbox">Become one of
                    them
                </a>
            </div>
        </div>
        <div class="preloader">
            <div class="preloader-circle"></div>
        </div>
    </div>
</section>
<footer id="footer" class="new">
    <div class="footer">
        <div class="container">
            <div class="footer-wrp">
                <div class="footer-right">
                    <h2>Feel free to contact me at <br>
                        <a href="mailto:hello@ammaryaqoob.com">ammarmyaqoob96&#64;gmail.com</a>
                        <!-- <a href="mailto:hello@ammaryaqoob.com">ammarmyaqoob96&#64;gmail.com</a> -->
                    </h2>
                    <div class="footer-about">
                        <div class="footer-about-col">
                            <p class="footer-about-title">Quick links</p>
                            <div class="footer-about-list">
                                <a class="footer-about__link" routerLink="about">About Us</a>
                                <!-- <a class="footer-about__link" href="/blog">Blog</a> -->
                                <a class="footer-about__link" routerLink="portfolio">Portfolio</a>
                                <a class="footer-about__link" routerLink="web-development">Web Development</a>
                                <a class="footer-about__link" routerLink="mobile-application-development">Mobile
                                    Development</a>
                                <a class="footer-about__link" routerLink="custom-development">Custom Development</a>
                            </div>
                        </div>
                        <!-- <div class="footer-about-col">
                            <p class="footer-about-title">Our work</p>
                            <div class="footer-about-list">
                                <a class="footer-about__link" href="/portfolio">Portfolio</a>
                                <a class="footer-about__link" href="/services">Services</a>
                                <a class="footer-about__link" href="/expertise">Expertise</a>
                            </div>
                        </div> -->
                        <div class="footer-about-col">
                            <p class="footer-about-title">Expertise</p>
                            <div class="footer-about-list">
                                <a class="footer-about__link" href="/technologies">Technologies</a>
                                <a class="footer-about__link" href="/java-development">Node.js</a>
                                <a class="footer-about__link" href="/net-development">.NET Development</a>
                                <a class="footer-about__link" href="/angular-development">Angular Development</a>
                                <a class="footer-about__link" href="/react-js-development">React.js Development</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-locations">
                    <h3 class="footer-locations__title">Where to find me</h3>
                    <div class="footer-locations-list">
                        <div class="footer-locations-item">
                            <h3 class="footer-locations-item-title canada">Pakistan<p class="country-flag canada"></p>
                            </h3>
                            <div class="footer-locations-item__box">
                                <i class="fa-solid fa-envelope"></i>
                                <a class="footer-locations-item__box-text ml-25" ml-25
                                    href="mailto:hello@ammaryaqoob.com">
                                    ammarmyaqoob96&#64;gmail.com</a>
                            </div>
                            <div class="footer-locations-item__box">
                                <i class="fa-solid fa-phone"></i>
                                <a href="tel:+923222885685" class="footer-locations-item__box-text ml-25">+92
                                    322885685</a>
                            </div>
                            <div class="footer-locations-item__box">
                                <i class="fa-solid fa-phone"></i>
                                <a href="tel:+4917635779560" class="footer-locations-item__box-text ml-25">+49
                                    17635779560</a>
                            </div>
                            <div class="footer-locations-item__box">
                                <div class="footer-social" style="position: relative;top: 40px;">
                                    <a href="https://www.linkedin.com/in/ammar-yaqoob-full-stack-developer/"
                                        target="_blank" rel="noopener noreferrer nofollow" class="footer-contact">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                    <a href="https://www.instagram.com/ammaryaq00b/" target="_blank"
                                        rel="noopener noreferrer nofollow" class="footer-contact">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                    <a href="https://www.facebook.com/ammaryaqoob6" target="_blank"
                                        rel="noopener noreferrer nofollow" class="footer-contact">
                                        <i class="fa-brands fa-square-facebook"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="">
                        <p class="footer-copyright__text">
                            Copyright © {{this.year}} Ammar Yaqoob. All rights reserved.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>