<div class="section-box mt-4" id="resume">
    <div class="row">
        <div class="col-12 col-md-12 col-xl-12">
            <div class="side-by-side-container">
                <div class="left-content">
                    <object data="./assets/images/education.svg" type="image/svg+xml" width="200">
                        <img src="./assets/images/skill.jpg" />
                    </object>
                </div>
                <div class="right-content">
                    <h6 class="title-heading mb-3" data-backdrop-text="Resume">Resume</h6>
                    <h1>Education &amp; Experience</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-4 g-lg-5 mt-0">
        <div class="col-12 col-xl-6">
            <div class="resume-wrapper">
                <div class="icon-2xl mb-3">
                    <i class="fa-solid fa-graduation-cap line-height-100"></i>
                </div>
                <!-- Education box 1 -->
                <div class="resume-box">
                    <span class="resume-date">2024 - Present</span>
                    <h5 class="fw-medium">Master in Data Science</h5>
                    <span>&#64; National University of Sciences and Technology</span>
                </div>
                <!-- Education box 2 -->
                <div class="resume-box">
                    <span class="resume-date">2018 - 2022</span>
                    <h5 class="fw-medium">Bachelor's of Computer Science</h5>
                    <span>&#64; Indus Univerisity</span>
                </div>
                <!-- Education box 3 -->
                <div class="resume-box">
                    <span class="resume-date">2014 - 2016</span>
                    <h5 class="fw-medium">Intermediate</h5>
                    <span>&#64; Board of Secondary Education</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <div class="resume-wrapper">
                <div class="icon-2xl mb-3">
                    <i class="fa-solid fa-briefcase line-height-100"></i>
                </div>
                <!-- Employment box 1 -->
                <div class="resume-box">
                    <span class="resume-date">2021 - Present</span>
                    <h5 class="fw-medium">Backend Developer</h5>
                    <span>&#64; Regtify</span>
                </div>
                <!-- Employment box 2 -->
                <div class="resume-box">
                    <span class="resume-date">2019 - 2020</span>
                    <h5 class="fw-medium">Backend Developer</h5>
                    <span>&#64; Aimviz</span>
                </div>
                <div class="resume-box">
                    <span class="resume-date">2016 - 2018</span>
                    <h5 class="fw-medium">Frontend Developer</h5>
                    <span>&#64; Aimviz</span>
                </div>
            </div>
        </div>
    </div><!-- end row -->
</div>