<div class="section-box mt-4" id="services">
    <div class="row">
        <div class="col-12 col-md-12 col-xl-12">
            <div class="side-by-side-container">
                <div class="left-content">
                    <object data="./assets/images/Code typing-amico.svg" type="image/svg+xml"
                        width="200">
                        <img src="./assets/images/skill.jpg" />
                    </object>
                </div>
                <div class="right-content">
                    <h6 class="title-heading mb-3" data-backdrop-text="Services">Services</h6>
                    <h1>What I Do</h1>
                    <p>From frontend interfaces to backend systems, I possess the skills to build
                        end-to-end solutions that meet the unique needs of each project. With a
                        passion for technology and a commitment to excellence, I am dedicated to
                        delivering impactful solutions that drive business success and innovation.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 mt-lg-5">
        <ul class="services-list">
            <!-- Services Item 1 -->
            <li class="services-item">
                <a href="#">
                    <div class="services-number">
                        <h1 class="font-family-mono fw-semi-bold stroke-text display-4">01</h1>
                    </div>
                    <div class="services-title icon-xl">
                        <i class="fas fa-code"></i>
                        <h6 class="mono-heading">Web Development</h6>
                    </div>
                    <div>
                        <p>Create visually stunning and seamlessly functional websites and Develop
                            robust backend systems using technologies like Node.js, .Net Core,
                            ensuring
                            optimal user experience, scalability, security, and performance for your
                            web
                            applications.</p>
                    </div>
                </a>
            </li>
            <!-- Services Item 2 -->
            <li class="services-item">
                <div class="services-number">
                    <h1 class="font-family-mono fw-semi-bold stroke-text display-4">02</h1>
                </div>
                <div class="services-title icon-xl">
                    <i class="fas fa-laptop"></i>
                    <h6 class="mono-heading">Software Consultancy</h6>
                </div>
                <div>
                    <p>From concept to deployment, we specialize in delivering bespoke software
                        solutions that address your unique challenges and unlock new opportunities
                        for success.</p>
                </div>
            </li>
            <!-- Services Item 3 -->
            <li class="services-item">
                <div class="services-number">
                    <h1 class="font-family-mono fw-semi-bold stroke-text display-4">03</h1>
                </div>
                <div class="services-title icon-xl">
                    <i class="fa-solid fa-database"></i>
                    <h6 class="mono-heading">Data & Analytics</h6>
                </div>
                <div>
                    <p>
                        Acquire invaluable insights, optimize operations, and propel expansion.
                        Navigate the pathway to success in the digital age. Encounter tomorrow's
                        possibilities, today.
                    </p>
                </div>
            </li>
            <!-- Services Item 4 -->
            <li class="services-item">
                <div class="services-number">
                    <h1 class="font-family-mono fw-semi-bold stroke-text display-4">04</h1>
                </div>
                <div class="services-title icon-xl">
                    <i class="fa-solid fa-mobile"></i>
                    <h6 class="mono-heading">Mobile Development</h6>
                </div>
                <div>
                    <p>With a passion for mobile technology and a relentless pursuit of excellence,
                        I am dedicated to delivering mobile solutions that captivate users, drive
                        business growth, and push the boundaries of innovation.</p>
                </div>
            </li>
        </ul>
    </div>
</div>